.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #333;
	padding: 10px;
	right: 10px;
	top: 60px;
	z-index: 1;
	border-radius: 5px;
}
.dropdown-menu.show {
	display: block;
}
.dropdown-menu p, .dropdown-menu a {
	color: white;
	text-decoration: none;
}
.dropdown-menu a:hover {
	background-color: #555;
}
nav {
    flex: 0 0 60px;
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content:left;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}
nav ul li a:hover {
    background-color: #555;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 75vh;
}

.posts {
	background-color: white;
	aspect-ratio: 3 / 4;
	overflow-y: auto;
}

.post {
	background-color: rgb(209, 209, 209);
	border-radius: 10px;
	margin: 10px;
}
.post-header {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.post-footer {
	justify-content: left;
}
.post-content {
	justify-content: center;
	margin: 5px;
}
.post-photo {
	width: 100%;
	border-radius: 5px;
}

.post-logo ~ p {
	text-align: left;
	margin: 5px;
}

.nav > li:not(:has(a)) {
	color: white;
	font-size: 30px;
}

img + p {
	font-style: italic;
}
.like {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.side-panel {
	flex: 1;
	background-color: rgb(209, 209, 209);
}
html, body {
	height: 100vh;
	font-family: Arial, sans-serif;
    background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex; 
    flex-direction: column;
}
.grid {
	display: flex;
	align-items: strech;
	justify-content: center;
	height: 100vh;
}
.header {
	background-color: #333;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
.footer {
	background-color: #333;
}
.content {
    background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav a {
	padding: 10px 15px;
	text-align: left;
	display: block;
	text-decoration: none;
	color: white;
}
.nav a:hover {
	background-color: #555
}
.nav {
	display: flex;
	list-style-type: none;
}
.logo {
	padding: 10px 15px;
	margin: 0;
}


.login-section {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
    text-align: center; 
}


.welcome-message {
    font-size: 24px;
    margin-bottom: 20px; 
}


.login-container {
    background-color: rgb(209, 209, 209);
    width: 300px; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.login-container input[type="email"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container .login-btn {
    background-color: #333;
    color: white;
}

.login-container .forgot-btn,
.login-container .create-btn {
    background-color: #eee;
    color: #333;
}

.login-container .login-btn:hover {
    background-color: #555;
}

.login-container .forgot-btn:hover,
.login-container .create-btn:hover {
    background-color: #ddd;
}
#textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.file-btn { 
	  display: block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
		background-color: #eee; 
    color: #333;
		display: inline-block;
}

.file-btn:hover {
    background-color: #ddd;
}


@media (max-width: 600px) {
    .login-container {
        width: 90%; 
    }
}
